<div class="bg-color">
    <h1>Dashboard</h1>
    <div class="block">
        <a class="dashboards d-flex authors" routerLink="authors" >
            <div>
                <h2>{{authors}}</h2>
                <h5>Authors</h5>
            </div>
            <div>
                <mat-icon>supervisor_account</mat-icon>
            </div>
        </a>
        <a class="dashboards d-flex categories" routerLink="categories" >
            <div>
                <h2>{{categories}}</h2>
                <h5>Categories</h5>
            </div>
            <div>
                <mat-icon>poll</mat-icon>
            </div>
        </a>
        <a class="dashboards d-flex posts" routerLink="posts" >
            <div>
                <h2>{{posts}}</h2>
                <h5>Posts</h5>
            </div>
            <div>
                <mat-icon>event_note</mat-icon>
            </div>
        </a>
    </div>
</div>
    